.CourseMoreDetailsView{
    margin: 40px auto;
    min-height: 88vh;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 50px;
    /* gap: 0px 5px; */
}

.CourseMoreDetailsViewSingle{
    margin: 40px auto;
    min-height: 88vh;
    width: 65vw;
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 50px;
    /* gap: 0px 5px; */
}

.CourseMoreDetailsView .profileDetails{
    background: var(--whiteColor);
    /* align-self: self-start; */
    /* padding: 25px 75px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: box-shadow .4s ease;
    box-shadow: #00000063 2px 2px 3px;
}

.CourseMoreDetailsView .courseImage{
    z-index: -1;
    width: 90%;
    /* padding: 20px 50px; */
    aspect-ratio: 1 / 1;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.CourseMoreDetailsView .bottomContainer{
    /* height: 88vh; */
    margin: auto;
    width: 90%;
    /* aspect-ratio: 1 / 1; */
    /* padding: 20px 50px; */
    /* background: rgba(255, 255, 255, 0.923); */
}

.CourseMoreDetailsView .bottomContainer .titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CourseMoreDetailsView .bottomContainer .titleContainer .courseTitle{
    padding: 15px 0px;
    font-size: 3.5rem;
    color: var(--primaryColor);
    font-weight: 800;
}

.CourseMoreDetailsView .bottomContainer .ratingContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CourseMoreDetailsView .bottomContainer .ratingContainer .enrollButton{
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    background: var(--accentColorLight);
    color: #fff;
    transition: box-shadow .2s ease-in-out;
}

.CourseMoreDetailsView .bottomContainer .ratingContainer .enrollButton:hover{
    box-shadow: #00000069 5px 5px 5px;
}

.CourseMoreDetailsView .bottomContainer .ratingContainer .enrollButton:active{
    box-shadow: #00000069 3px 3px 3px;
}

.CourseMoreDetailsView .bottomContainer .courseDescription{
    text-align: justify;
    padding: 25px 45px;
    letter-spacing: .5px;
    line-height: 1.6;
}

.CourseMoreDetailsView .bottomContainer .coursePrice{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--accentColor);
}

.CourseMoreDetailsView .bottomContainer .coursePrice span{
    /* font-size: 1rem; */
    color: var(--redColor);
    text-decoration: line-through;
}

@media screen and (max-width: 1400px) {
    .CourseMoreDetailsView .courseImage{
        width: 55vw;
    }
}

@media screen and (max-width: 1100px) {

    .CourseMoreDetailsView{
        width: 90vw;    
        gap: 0px 35px;
    }

    .CourseMoreDetailsView .courseImage{
        width: 60vw;
    }

    .CourseMoreDetailsView .bottomContainer{
        width: 60vw;
        padding: 20px;

    }

    .CourseMoreDetailsView .bottomContainer .titleContainer .courseTitle{
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 1050px) {   
    .CourseMoreDetailsView{
        width: 95vw;    
        gap: 0px 30px;
    }

    .CourseMoreDetailsView .profileDetails .userName{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 850px) {

    .CourseMoreDetailsView{
        align-items: center;
    }

    .CourseMoreDetailsView .profileDetails{
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .CourseMoreDetailsView{
        margin: 0 auto;
    }
    .CourseMoreDetailsView .courseImage{
        width: 70vw;
    }

    .CourseMoreDetailsView .bottomContainer{
        width: 70vw;
    }

    .CourseMoreDetailsView .bottomContainer .titleContainer .courseTitle{
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 600px) {
    .CourseMoreDetailsView .courseImage{
        width: 80vw;
    }
    
    .CourseMoreDetailsView .bottomContainer{
        width: 80vw;
        padding: 10px;
    }

    .CourseMoreDetailsView .bottomContainer .courseDescription{
        padding: 25px;
        font-size: .8rem;
    }

    .CourseMoreDetailsView .bottomContainer .ratingContainer .enrollButton{
        font-size: .9rem;
    }
}

@media screen and (max-width: 400px) {
    .CourseMoreDetailsView .courseImage{
        width: 90vw;
    } 

    .CourseMoreDetailsView .bottomContainer{
        width: 90vw;
    }
    
    .CourseMoreDetailsView .bottomContainer .courseDescription{
        padding: 25px  10px;
        font-size: .8rem;
    }

    .CourseMoreDetailsView .bottomContainer .titleContainer .courseTitle{
        font-size: 2rem;
    }

    .CourseMoreDetailsView .bottomContainer .ratingContainer .enrollButton{
        font-size: .7rem;
    }
}