/* .postWallView{
    
} */

.postWallView .gridContainer{
    width: 80vw;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0px 35px;
}

.postWallView .gridContainer .profileDetails{
    position: sticky;
    top: 103px;
    background: var(--whiteColor);
    align-self: self-start;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: box-shadow .4s ease;
    box-shadow: #00000063 2px 2px 3px;
}

.postWallView .gridContainer .profileDetails:hover{
    box-shadow: #00000063 5px 5px 8px;
    cursor: pointer;
}

.postWallView .gridContainer .profileDetails svg{
    font-size: 3.5rem;
    
}

.postWallView .gridContainer .profileDetails .userName{
    font-size: 1.8rem;
    font-weight: 600;
}

.postWallView .gridContainer .profileDetails .email{
    font-size: .8rem;
}

.postWallView .gridContainer .profileDetails .contactNo{
    font-size: .8rem;
}


.postWallView .gridContainer .courseContainer{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 25px;
}

.postWallView .gridContainer .postContainer{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 50px;
}

.postWallView .gridContainer .courseContainer .title{
    /* width: 100%; */
    /* font-size: 1.2rem; */
    font-weight: 500;
    /* background: #cfcfcf; */
    padding: 5px 10px;
    border-bottom: 2px solid var(--blackColor);
    /* border-radius: 45px 50px 50px 45px; */
    /* clip-path: polygon(75% 0%, 100% 100%, 0% 100%, 0% 100%, 0 50%, 0% 0%); */
}

@media screen and (max-width: 1400px) {
    .postWallView .gridContainer{
        width: 85vw;
    }
}

@media screen and (max-width: 1300px) {
    .postWallView .gridContainer{
        width: 90vw;
    }
}

@media screen and (max-width: 1200px) {
    .postWallView .gridContainer{
        width: 95vw;
    }
}

@media screen and (max-width: 1150px) {
    .postWallView .gridContainer{
        grid-template-columns: 2fr 1fr;
    }

    .postWallView .gridContainer .profileDetails{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .postWallView .gridContainer{
        grid-template-columns: 1fr;
        width: 90vw;
    }

    .postWallView .gridContainer .courseContainer{
        display: none;
    }
    
}