nav{
    z-index: 999;
    position: sticky;
    top: 0;
    background: rgba(236, 236, 236, 0.544);
    backdrop-filter: blur(25px);
    width: 100%;
    height: 12vh;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

nav .topContainer{
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    font-size: .8rem;
}

nav .topContainer div{
    display: flex;
    gap: 2px;
    align-items: flex-end;
    justify-content: center;
}

nav .topContainer div svg{
    color: var(--primaryColor);
}

nav .bottomContainer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .bottomContainer .logo{
    height: 100%;
}

nav .bottomContainer .links{
    position: relative;
    margin-right: 50px;
    display: flex;
    gap: 25px;
    font-size: 1.2rem;
    font-weight: 600;
}

nav .bottomContainer .links a{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .bottomContainer .links .profileIcon .arrowIcon{
    transition: transform 0.3s ease-in-out;
}

nav .bottomContainer .links .profileIcon svg{
    font-size: 2rem;
}

nav .bottomContainer .links a.active{
    color: var(--accentColor);
}

nav .bottomContainer .links .profileIcon:hover + .dropDownMenu,
nav .bottomContainer .links .dropDownMenu:hover{
    opacity: 1;
    visibility: visible;
}

nav .bottomContainer .links .profileIcon:hover .arrowIcon,
nav .bottomContainer .links .profileIcon:has(+ .dropDownMenu:hover) .arrowIcon{
    transform: rotate(180deg);
}

nav .bottomContainer .links .dropDownMenu{
    background: rgb(236, 236, 236);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    padding: 10px 15px;
    position: absolute;
    top: 40px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
}