.profileView{
    min-height: 88vh;
}

.profileView .topContainer{
    height: 25vh;
    background: var(--whiteColor);
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.profileView .topContainer .profilePhoto{
    justify-self: center;
    font-size: 5rem;
}

.profileView .topContainer .profileDetails{
    display: flex;
    flex-direction: column;
}

.profileView .topContainer .profileDetails .userName{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primaryColor);
}

.profileView .topContainer .profileDetails .email{
    font-size: 1.3rem;
}